[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
pytest = "*"
pylint = "*"
twine = "*"

[packages]
pint = "*"
numpy = "*"
plotly = "*"
pyyaml = "*"
vpython = "==7.5.0"
scipy = "*"
torch = "==1.3.0"
matplotlib = "*"
pathos = "*"
dill = "*"
tqdm = "*"
ray = "*"
psutil = "*"

[requires]
python_version = "3.6"
